## Model setup
Now we will setup a small neural network so we can actually set a baseline for our data set.

In [39]:
import torch
from torch import nn
import pandas as pd

In [40]:
df = pd.read_csv('small_programming_dataset.csv')
# data_benign = data.loc[data['label'] == 0]
# data_malicious = data.loc[data['label'] == 1]

In [41]:
size_data = len(df)
train_size = (size_data/100)*70
train_size = int(train_size)

def split_to_train_test(df, label_column, train_frac=0.8):
    train_df, test_df = pd.DataFrame(), pd.DataFrame()
    labels = df[label_column].unique()
    for lbl in labels:
        lbl_df = df[df[label_column] == lbl]
        lbl_train_df = lbl_df.sample(frac=train_frac)
        lbl_test_df = lbl_df.drop(lbl_train_df.index)
        train_df = train_df.append(lbl_train_df)
        test_df = test_df.append(lbl_test_df)

    return train_df, test_df

train, test = split_to_train_test(df, 'label', 0.7)

train

,Unnamed: 0,Unnamed: 0.1,sha256,md5,appeared,label,avclass,histogram,byteentropy,exports,...,header.optional.minor_linker_version,header.optional.major_operating_system_version,header.optional.minor_operating_system_version,header.optional.major_subsystem_version,header.optional.minor_subsystem_version,header.optional.sizeof_code,header.optional.sizeof_headers,header.optional.sizeof_heap_commit,section.entry,section.sections
4794,6993,6993,68d2f59220c0ac6985458a10b2c853074de9076f01be8a...,f50ee97ea116fb3fff0e1f3e5532a44d,2018-01,0,NaN,"[40068, 3082, 1953, 2175, 2715, 1201, 1138, 11...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],...,0,5,0,5,0,169984,1024,4096,.text,"[{'name': '.text', 'size': 169984, 'entropy': ..."
117,338,338,f8e2d1ddc5a89a1c483ecc2c61eadbc5315aac4d76350a...,a72ffae117c95f928b654e202dedff9b,2018-01,0,NaN,"[39879, 2894, 1736, 1983, 2510, 991, 962, 917,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],...,0,5,0,5,0,169984,1024,4096,.text,"[{'name': '.text', 'size': 169984, 'entropy': ..."
6878,9883,9883,37a59e4a6561eee9c327fb1f033cf77cfa9bb1fe477163...,2fcae6431e85891b9c192c87edef3aae,2018-01,0,NaN,"[197549, 28377, 16625, 17277, 24300, 13920, 12...","[12288, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",[],...,0,4,0,4,0,819200,4096,4096,.text,"[{'name': '.text', 'size': 819200, 'entropy': ..."
2277,3467,3467,9e00dc182579cbb86fd5242a1877ee1599a1da08c3fa48...,29e2cb79b55a998ae9b09295976ccc1c,2018-01,0,NaN,"[41100, 4061, 2883, 3184, 3723, 2166, 2097, 20...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],...,0,5,0,5,0,169984,1024,4096,.text,"[{'name': '.text', 'size': 169984, 'entropy': ..."
581,1173,1173,a1b48ee28a9a4a7ceccaa1e0518f5a2d0e726ad76026ce...,5484e95e50a8d1cec907be6968d8d983,2018-01,0,NaN,"[1503, 95, 57, 89, 173, 51, 20, 22, 91, 22, 44...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],...,25,1,0,4,0,40448,1024,4096,CODE,"[{'name': 'CODE', 'size': 40448, 'entropy': 6...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2812,4207,4207,6ed27de417785c0be55afcef351a1e672ede0db71b9390...,24b358ed72948cbfcb3d687ce7b142c2,2018-01,1,virlock,"[6512, 3608, 3738, 4044, 4088, 4007, 3640, 404...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 45056, 0,...",[],...,12,4,0,4,0,516608,1536,4096,.text,"[{'name': '.text', 'size': 516608, 'entropy': ..."
5175,7508,7508,f8a3bcb59be80857673060ac3d46866c43bd696649a0e0...,1fee5e26cefe7ad8466566e65b25bd97,2018-01,1,msilperseus,"[39928, 3729, 2593, 1262, 1325, 528, 1629, 908...","[22522, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0,...",[],...,0,4,0,4,0,167936,4096,4096,.text,"[{'name': '.text', 'size': 167936, 'entropy': ..."
5284,7659,7659,0db976b4c4918e7012711051f07df25e1511b1c1b89e25...,77ce57e909f824a54718667f3fb73004,2018-01,1,adposhel,"[155356, 7133, 4819, 4191, 5775, 3366, 3917, 4...","[75776, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",[],...,15,5,1,5,1,648192,1024,4096,.text,"[{'name': '.text', 'size': 648192, 'entropy': ..."
6598,9485,9485,10c5132f9bd9d21f6a27957c30d4a38f96a9ff270eed00...,97086604fcd959f938c457ba56feb744,2018-01,1,dealply,"[270560, 15379, 24702, 11187, 18700, 5211, 443...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],...,25,5,0,5,0,1497600,1024,4096,.text,"[{'name': '.text', 'size': 1492992, 'entropy':..."
4010,5894,5894,666e58e0ee04bb32bf61e5a0e21be8a76808a7b018bbe3...,b0c9fdb8db8edf8050d62d61003955c9,2018-01,1,zusy,"[183376, 8477, 4514, 3921, 7260, 2869, 2414, 2...","[1008, 0, 0, 6, 9, 6, 3, 0, 0, 0, 3, 3, 9, 0, ...",[],...,11,5,1,5,1,262144,1024,4096,.text,"[{'name': '.text', 'size': 262144, 'entropy': ..."

In [42]:
#Move the Label and AVClass to different DF
labels = df[['sha256', 'label', 'avclass']].copy()
labels

df.pop('label')
df.pop('avclass')
train.pop('label')
train.pop('avclass')
test.pop('label')
test.pop('avclass')
labels

                                                 sha256  label         avclass
0     f6c68207b3b395feabcbb029c393607db4ff5227ecd5da...      0             NaN
1     3292ee48fac44b7b70bdfde526f71c09e65764d9b582f5...      0             NaN
2     73c740bd07142afbe3a644d1e4cbf9b9c5d2580bbf9fe7...      0             NaN
3     50d63e9d80cb8838bad3338e8ff370897e48d5a24dbc86...      0             NaN
4     7e1b942d0fd824177cd55b88f18cf0e012f14a34255232...      0             NaN
...                                                 ...    ...             ...
6963  b4436cdbb5744379970ed25fbb8f1012ae13d679ee1954...      0             NaN
6964  9a9641177434ab79a96d46a946fd5fbd9700a4e66c673e...      0             NaN
6965  7c213b4c4089d2854da3a41ddbb9ed5f64cd58a7d36b53...      0             NaN
6966  0e4bf0407a5047ddf42ee91569a42a00e7e2b6344dfbd3...      1  installmonster
6967  ee5b3d6f89eb7d419fefe096ec275fdd41e399684df970...      1          ircbot

[6968 rows x 3 columns]

In [45]:
#Save the amount of columns so it can be used as amount of in
input_size = len(train.columns)
input_size

46

In [46]:
#### Get cpu or gpu device for training.
device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using {device} device")

# Define model
# Amount of columns as input, then abstract to .
class NeuralNetwork(nn.Module):
    def __init__(self,input_size):
        super(NeuralNetwork, self).__init__()
        self.flatten = nn.Flatten()
        self.linear_relu_stack = nn.Sequential(
            nn.Linear(input_size, input_size*10),
            nn.ReLU(),
            nn.Linear(input_size*10, input_size*5),
            nn.ReLU(),
            nn.Linear(input_size*5, 2)
        )

    def forward(self, x):
        x = self.flatten(x)
        logits = self.linear_relu_stack(x)
        return logits

model = NeuralNetwork(input_size).to(device)
print(model)

Using cuda device
NeuralNetwork(
  (flatten): Flatten(start_dim=1, end_dim=-1)
  (linear_relu_stack): Sequential(
    (0): Linear(in_features=46, out_features=460, bias=True)
    (1): ReLU()
    (2): Linear(in_features=460, out_features=230, bias=True)
    (3): ReLU()
    (4): Linear(in_features=230, out_features=2, bias=True)
  )
)