# Dataset analysis
In here I'll show what kind of choices I have made during feature selection for the model.

#### Lets load in all imports, and the pruned data set ( for loading time. )

In [1]:
#Imports for analysis
import os
import json
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#Import the dataset (takes a few minutes, and requires more RAM the more chunksize)
#Costs 4 gb of ram with these settings.
counter = 3 

for chunk in pd.read_csv('pruneddataset4.csv',low_memory=False, chunksize=10000):
    if counter < 1 :
        break
    # do things with chunk
    elif counter == 3:
        df = chunk.copy()
        counter += -1
        print("Setup dataset")
    else:
        df.append(chunk)
        print("Added dataset: ",counter)
        counter += -1
print("loaded part of csv.")

counter was 3
counter is:  2
counter is:  1
loaded part of csv.

In [2]:
df.describe()

,Unnamed: 0,label,strings.numstrings,strings.avlength,strings.printables,strings.entropy,strings.paths,strings.urls,strings.registry,strings.MZ,...,imports.rpDSN309.DLL,imports.arkEngine.dll,imports.arkModule.dll,imports.POSTDLGS.DLL,imports.ipninterface.dll,imports.LZClient.dll,imports.FTDWSER.dll,imports.FTDFLTC.dll,imports.FTDWANMN.dll,imports.ThinN@.dll
count,10000.00000,10000.00000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,4999.50000,0.10560,8019.257600,35.440949,1.453345e+05,5.847843,2.031700,13.906000,0.329400,19.182400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2886.89568,0.80032,26624.448751,404.802066,5.260429e+05,0.603133,38.062632,59.113472,7.921324,77.759803,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.00000,-1.00000,1.000000,5.092649,1.100000e+01,0.177588,0.000000,0.000000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2499.75000,-1.00000,647.000000,7.695903,8.408500e+03,5.491264,0.000000,0.000000,0.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,4999.50000,0.00000,2679.000000,11.979904,2.921000e+04,5.836152,0.000000,0.000000,0.000000,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,7499.25000,1.00000,6483.500000,17.698587,8.907700e+04,6.403698,1.000000,9.000000,0.000000,12.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,9999.00000,1.00000,863885.000000,35348.421466,1.924160e+07,6.584906,2935.000000,2764.000000,710.000000,2782.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### As you can see in the above table seem not used alot. Like for example:
strings.entropy, strings.paths, strings.urls, strings.registry

To identify this we want to count all null values per column:

In [3]:
df.isnull().sum()

Unnamed: 0                  0
sha256                      0
md5                         0
appeared                    0
label                       0
                        ...
imports.LZClient.dll    10000
imports.FTDWSER.dll     10000
imports.FTDFLTC.dll     10000
imports.FTDWANMN.dll    10000
imports.ThinN@.dll      10000
Length: 13436, dtype: int64

This indicates that the assumption that was made was wrong, and only the section entry is actually not used in all cases.
Label 0 means that it is a benign sample, so this could also overfit the model since this is the actual answer if a file is malicious or not. So label could be removed, and section entry should be checked if this should be removed or not. 
Same counts for av-class. We will do this in a later notebook

In [4]:
df.sort_values("label",ascending = False).head(2)

,Unnamed: 0,sha256,md5,appeared,label,avclass,histogram,byteentropy,exports,datadirectories,...,imports.rpDSN309.DLL,imports.arkEngine.dll,imports.arkModule.dll,imports.POSTDLGS.DLL,imports.ipninterface.dll,imports.LZClient.dll,imports.FTDWSER.dll,imports.FTDFLTC.dll,imports.FTDWANMN.dll,imports.ThinN@.dll
0,0,2ef9a92ee6c955364564b0df75ee3753473014b2ba162b...,7e39aeea7bc21d16b8652516a150b282,2018-01,1,sivis,"[60782, 5895, 2020, 1487, 2075, 1367, 1145, 85...","[24434, 11, 18, 5, 9, 8, 35, 21, 3, 4, 8, 4, 2...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5104,5104,ca25493c4385382e5c29b1fe08d870081ddf0b9e10215e...,d444fb3da50afe6d5793d3d48c625bec,2018-01,1,adposhel,"[155498, 7028, 4872, 4072, 5789, 3549, 4087, 4...","[75776, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The 4th data set has a relatively balanced data set, but has some other parts that need to be pruned.
Because of this we will clean it up a bit more.

In [5]:
#drop avclass labels now.
df.drop(list(df.filter(regex = 'imports*')), axis = 1, inplace = True)

In [6]:

print("df has this amount of malicious:",sum(df['label'] == 1))
print("df has this amount of benign:",sum(df['label'] == 0))
print("df has this amount of unclassified:",sum(df['label'] == -1))

df has this amount of malicious: 3786
df has this amount of benign: 3484
df has this amount of unclassified: 2730

Because we cant use the unclassified data set for actual models we remove this.

In [7]:
df = df[df['label'] != -1]
print("df has this amount of unclassified:",sum(df['label'] == -1))
print("df has this amount of malicious:",sum(df['label'] == 1))
#now also 50-50 balance the data set. ( in a actual usecase you might want to use bigger data sets
#And also maby change the balance to a more representative Positive:negative ratio )
remove_n = sum(df['label'] == 1) - sum(df['label'] == 0)
index_to_drop = df.index[df['label'] == 1][:remove_n]
#Finally drop those indexes
df = df.drop(index_to_drop)
print("after balancing:")
print("df has this amount of unclassified:",sum(df['label'] == -1))
print("df has this amount of malicious:",sum(df['label'] == 1))
print("df has this amount of benign:",sum(df['label'] == 0))

df has this amount of unclassified: 0
df has this amount of malicious: 3786
after balancing:
df has this amount of unclassified: 0
df has this amount of malicious: 3484
df has this amount of benign: 3484

In [8]:
df.co

Index(['Unnamed: 0', 'sha256', 'md5', 'appeared', 'label', 'avclass',
       'histogram', 'byteentropy', 'exports', 'datadirectories',
       'strings.numstrings', 'strings.avlength', 'strings.printabledist',
       'strings.printables', 'strings.entropy', 'strings.paths',
       'strings.urls', 'strings.registry', 'strings.MZ', 'general.size',
       'general.vsize', 'general.has_debug', 'general.exports',
       'general.has_relocations', 'general.has_resources',
       'general.has_signature', 'general.has_tls', 'general.symbols',
       'header.coff.timestamp', 'header.coff.machine',
       'header.coff.characteristics', 'header.optional.subsystem',
       'header.optional.dll_characteristics', 'header.optional.magic',
       'header.optional.major_image_version',
       'header.optional.minor_image_version',
       'header.optional.major_linker_version',
       'header.optional.minor_linker_version',
       'header.optional.major_operating_system_version',
       'header.optional.minor_operating_system_version',
       'header.optional.major_subsystem_version',
       'header.optional.minor_subsystem_version',
       'header.optional.sizeof_code', 'header.optional.sizeof_headers',
       'header.optional.sizeof_heap_commit', 'section.entry',
       'section.sections'],
      dtype='object')

In [9]:
df.to_csv("small_programming_dataset.csv")