In [21]:
# For more interesting data augmentation we need to extract the actual data instead of using the sha256 hash.
# Because of this we will be using ember's functions to extract their json like objects to analyse the data in full.|

# Be sure you have the ember2018 data set downloaded and unzipped. 

#Imports:
import os
import pandas as pd
import json

In [2]:
emberpath = r"C:/Users/Spider/PycharmProjects/embertest\ember2018"
def find_file(filename,base_path):
    """
    Check folder and inner folders for all files and if base named file is found store location in variable and return
    Returns first found matching item location so be sure you specify what you need and in the correct path.
    """
    foundfile = ""
    for root, dirs, files in os.walk(base_path):
        for file in files:
            #Check folder for all files and if base named file is found store location in variable and return:
            if filename in file:
                foundfile = os.path.join(root,file)
                return foundfile
    return ""

#Get file path
basefile = find_file("train_features_0.jsonl",emberpath)
if len(basefile)>0:
    #simplecheck to prevent bugs
    print("file found at:",basefile)
else:
    print("file not found.")

file found at: C:/Users/Spider/PycharmProjects/embertest\ember2018\train_features_0.jsonl

In [3]:
def load_json_lines_df(file):
    with open(basefile) as f:
        lines = f.read().splitlines()
    df_inter = pd.DataFrame(lines)
    print("loaded to df")
    df_inter.columns = ['json_element']
    df_inter['json_element'].apply(json.loads)
    print("loaded to json")
    df_final = pd.json_normalize(df_inter['json_element'].apply(json.loads))
    print("catagorized df")
    return df_final

#load file into a dataframe for analysis. *TAKES A WHILE!* AND! This requires atleast 6gb of RAM.
df = load_json_lines_df(basefile)

df

loaded to df
loaded to json
catagorized df

,sha256,md5,appeared,label,avclass,histogram,byteentropy,exports,datadirectories,strings.numstrings,...,imports.swscale-5.dll,imports.mCodexAPI.dll,imports.OFFICE.dll,imports.SpNet.dll,imports.TseConfig.dll,imports.ccL120U.dll,imports.DataMan.dll,imports.vtkSlicerVolumeRenderingModuleLogic.dll,imports.vtkSlicerVolumeRenderingModuleMRML.dll,imports.vtkSlicerAnnotationsModuleMRML.dll
0,0abb4fda7d5b13801d63bee53e5e256be43e141faa077a...,63956d6417f8f43357d9a8e79e52257e,2006-12,0,,"[45521, 13095, 12167, 12496, 12429, 11709, 118...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",14573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,c9cafff8a596ba8a80bafb4ba8ae6f2ef3329d95b85f15...,6f7bde7a1126debf0cc359a54953efc1,2007-01,0,,"[93059, 15789, 2871, 3005, 4107, 1771, 2918, 4...","[47100, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0,...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",1803,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,eac8ddb4970f8af985742973d6f0e06902d42a3684d791...,7520c8f9534ca818726a4feaebf49e2b,2007-02,0,,"[45369, 2560, 1233, 1542, 4234, 515, 613, 1542...","[6144, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",1238,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7f513818bcc276c531af2e641c597744da807e21cc1160...,e435a536968941854bcec3b902c439f6,2007-02,0,,"[21315, 9641, 9332, 9358, 9598, 9220, 9146, 93...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",11166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ca65e1c387a4cc9e7d8a8ce12bf1bcf9f534c9032b9d95...,e93049e2df82ab26f35ad0049173cb14,2007-02,0,,"[23539, 6015, 5214, 4727, 4892, 4649, 4367, 52...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",5547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,ec86d25cbc434941f369e595ae3726f742ed4fa4c0627d...,629dd19460268bb8c83e638cfdd59ba3,2017-12,0,,"[667130, 54018, 74358, 33369, 49491, 21827, 63...","[38881, 16368, 14, 4, 3, 4094, 4099, 2051, 3, ...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",14179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49996,90fe281ce98183d0693fa3bc03cf8064ad681201dedea2...,68f6d5756d910369f601a679de086160,2017-12,0,,"[1805999, 214832, 166881, 42292, 62705, 22781,...","[8148, 0, 8110, 0, 0, 99, 10, 9, 0, 0, 1, 0, 2...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",18378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,32d9063bd1354552612d4b6ecbb3ff28940162c9274d52...,23b30e89408c1b8f405c5c5fa2740d20,2017-12,0,,"[2914, 71, 16, 11, 16, 7, 16, 4, 10, 2, 3, 6, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,cd6132884a03b220a94a2cb090e13c7a20d87018375d47...,2f27917338eca29da92417acb31a6271,2017-12,0,,"[19077, 3364, 2370, 961, 1348, 378, 1851, 536,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49999,83db11523f17a9c56a31a3a190cc04a0c714caee92b117...,e12ba603bd2db53ff70523aac2bc2a65,2017-12,0,,"[3688, 338, 167, 80, 142, 59, 33, 23, 35, 31, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],"[{'name': 'EXPORT_TABLE', 'size': 0, 'virtual_...",117,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
for item in list(df.columns):
    #print all usefull information.
    if item[0:7] not in "imports":
        print(item)

sha256
md5
appeared
label
avclass
histogram
byteentropy
exports
datadirectories
strings.numstrings
strings.avlength
strings.printabledist
strings.printables
strings.entropy
strings.paths
strings.urls
strings.registry
strings.MZ
general.size
general.vsize
general.has_debug
general.exports
general.imports
general.has_relocations
general.has_resources
general.has_signature
general.has_tls
general.symbols
header.coff.timestamp
header.coff.machine
header.coff.characteristics
header.optional.subsystem
header.optional.dll_characteristics
header.optional.magic
header.optional.major_image_version
header.optional.minor_image_version
header.optional.major_linker_version
header.optional.minor_linker_version
header.optional.major_operating_system_version
header.optional.minor_operating_system_version
header.optional.major_subsystem_version
header.optional.minor_subsystem_version
header.optional.sizeof_code
header.optional.sizeof_headers
header.optional.sizeof_heap_commit
section.entry
section.sections

In [17]:
df.drop(list(df.filter(regex = 'import*')), axis = 1, inplace = True)

In [20]:
#smaller cleaned dataset by removing all dll's for loadtimes reasons.
df.columns

Index(['sha256', 'md5', 'appeared', 'label', 'avclass', 'histogram',
       'byteentropy', 'exports', 'datadirectories', 'strings.numstrings',
       'strings.avlength', 'strings.printabledist', 'strings.printables',
       'strings.entropy', 'strings.paths', 'strings.urls', 'strings.registry',
       'strings.MZ', 'general.size', 'general.vsize', 'general.has_debug',
       'general.exports', 'general.has_relocations', 'general.has_resources',
       'general.has_signature', 'general.has_tls', 'general.symbols',
       'header.coff.timestamp', 'header.coff.machine',
       'header.coff.characteristics', 'header.optional.subsystem',
       'header.optional.dll_characteristics', 'header.optional.magic',
       'header.optional.major_image_version',
       'header.optional.minor_image_version',
       'header.optional.major_linker_version',
       'header.optional.minor_linker_version',
       'header.optional.major_operating_system_version',
       'header.optional.minor_operating_system_version',
       'header.optional.major_subsystem_version',
       'header.optional.minor_subsystem_version',
       'header.optional.sizeof_code', 'header.optional.sizeof_headers',
       'header.optional.sizeof_heap_commit', 'section.entry',
       'section.sections'],
      dtype='object')